fastapi==0.115.0
uvicorn==0.30.6
celery==5.4.0
minio==7.2.8
aioredis==2.0.1
python-dotenv==1.0.1
sqlalchemy==2.0.35
pydantic==2.11.4
pydantic-settings==2.3.2
pydantic-extra-types==2.10.4
aiosmtplib==2.0.2
pyjwt==2.8.0
asyncpg==0.29.0
firebase-admin==6.8.0
protobuf==5.29.4
google-api-python-client==2.169.0
pytz==2025.2
redis==5.0.8
pandas==2.2.3